
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}


nav {
    background-color: #a00000; 
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav .logo {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
    text-align: center;
}

h1 {
    color: #D21A1A;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.jogadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.jogadores div {
    width: 150px;
    text-align: center;
}

iframe {
    margin-top: 20px;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer {
    background-color: #a00000; 
    color: #fff; 
    text-align: center;
    padding: 10px;
    position: fixed; 
    bottom: 0;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}

